body{background-image: url(../images/bgphoto.jpg);background-attachment:fixed;background-repeat: no-repeat;background-position: center top;margin: 0;}
nav{background-color: rgba(29, 175, 201, 0.555);overflow: hidden;position: fixed;width: 100%;z-index: 1000;}
nav ul li{display: inline-block; font-weight: bold;color: black;float: right;}
nav ul li a{text-decoration: none;color: white;font-size: 16px;padding: 20px 25px;}
nav ul li a:hover{background-color: rgba(29, 175, 201, 0.945);}
img{max-width: 80px;float: left;}
.topnavbar{opacity: 0;position: static;}
/* .seebg{background-color: bisque;top: 0;} */